<div class="formules">

  <div class="container-menu">
    <div class="hoverlay"></div>
    <h1>PETITE MISE EN BOUCHE</h1>
    <ul class="menu">
      <li>
        <div class="meal">Mes soupes</div>
        <div class="recettes">
          <div class="name">Calin</div>
          <p>Soupe de carottes lait de coco curry et noisettes grillées</p>
          
          <div class="name">Green peace</div>
          <p>Velouté de courgettes et de brocolis parsemé d'amandes grillées</p>
          
          <div class="name">Toulousaine</div>        
          <p>Velouté de lentilles vertes et saucisses de toulouse, carrottes et oignons</p>
        </div>
      </li>
      <li>
        <div class="meal">Mes salades</div>
        <div class="recettes">
          <div class="name">Sucré abé</div>        
          <p>Feuilles d'épinards, poulet fermier, pommes et noisettes nappé de sauce chèvre miel</p>
          
          <div class="name">Coucourge</div>        
          <p>Epeautre, courge rôtie et sauce pesto menthe</p>
          
          <div class="name">Rainpoke</div>        
          <p>Semoule, ratatouille aux petits légumes maison et brebis fraiche</p>
        </div> 
      </li>
      <li>
        <div class="meal">Mes desserts</div>
        <div class="recettes">
          <div class="name">John Lemon</div>
          <p>Cake au citron avec ses graines de pavot et son nappage citron glaçé</p>
            
          <div class="name">New York</div>        
          <p>Cookie avec ses grosses pépites de chocolats façon new-yorkaise</p>

          <div class="name">Carot' & Co</div>        
          <p>Carotte cake avec nappage crème coco</p>                
        </div>
      </li>
    </ul> 
  </div>
    
  <div class="container-formule">
    <div class="row formules">

      <div class="formule">
        <div class="title">Petite faim</div>
        <div class="circle-formule un">
          <div class="text">soupe ou salade + tartine<br><span class="prix">6€</span></div> 
        </div>
      </div>

      <div class="formule">
        <div class="title">Moyenne faim</div>
        <div class="circle-formule deux">
          <div class="text">+ entrée OU dessert<br><span class="prix">8€</span></div> 
        </div>
      </div>

      <div class="formule">
        <div class="title">Gourmande</div>
        <div class="circle-formule trois">
            <div class="text">+ entrée ET dessert<br><span class="prix">10€</span></div>  
        </div>
      </div>
    </div>

    <div class="row boissons">
      <div class="boisson soft">
        <div class="container-image">
          <div class="image chaude"></div>
          <div class="image froide"></div>
        </div>
        <div class="text">Boisson fraiche ou chaude <br>à partir d'<span class="prix">1€</span></div> 
      </div>

      <div class="boisson alcool">
        <div class="image"></div>
        <div class="text">Biere ou verre de vin <br>
          <span class="prix">+3€</span></div> 
      </div>
    </div>

    <div class="row">
      <div class="button"><a class="link" target="_blank" href="https://deliveroo.fr/fr/menu/toulouse/toulouse-centre/abenaura">Commandez en livraison</a></div>
    </div>
  </div>
</div>


