<div class="menu padding">
  <div class="title">Menu du jour</div>
  <div class="separator"></div>

  <div class="container-menu">
    <div class="item">
      <div class="picto soupe"></div>
      <div class="meal">Soupe</div>
      <div class="ingredients">
        Soupe de carottes crème de coco et chips de chorizo
      </div>
    </div>

    <div class="item">
      <div class="picto salade"></div>
      <div class="meal">Salade</div>
      <div class="ingredients">
        Mélange roquette/épinards, semoule, melon, brebis et jambon cru
      </div>
    </div>

    <div class="item">
      <div class="picto dessert"></div>
      <div class="meal">Dessert</div>
      <div class="ingredients">Carotte cake avec nappage crème coco</div>
    </div>

    <div class="item">
      <div class="picto jus"></div>
      <div class="meal">Jus</div>
      <div class="ingredients">Pomme - Carotte</div>
    </div>
  </div>

  <div class="container-livraison">
    <div class="arrow"></div>
    <div class="container-logo">
      <a
        href="https://www.ubereats.com/fr/store/abenaura/z3dUluRiTjmKSS4H8Vr9sQ"
        target="_blank"
        ><div class="logo uber"></div
      ></a>
      <a
        class="link"
        target="_blank"
        href="https://deliveroo.fr/fr/menu/toulouse/toulouse-centre/abenaura"
        ><div class="logo deliveroo"></div
      ></a>
    </div>
  </div>
</div>
