<div class="formules">

    <ul class="menu">
        <h1>Quelques exemples de mes douceurs:</h1>
        <li>
            <div class="meal">Mes soupes:</div>
            <div class="recettes">
                <div class="name">la caline: 6€</div>
                <p>Soupe de carottes lait de coco curry et noisettes grillees</p>
                
                <div class="name">l'intensement chaude: 6,90€</div>
                <p>lentilles gingembre tomates poivron grillé façon bbq & filet d'huile d'olive</p>
                
                <div class="name">la potagère: 7€</div>        
                <p>brocolis, courgette, chevre frais et amandes grillees</p>
            </div>
        </li>
        <li>
            <div class="meal">Mes salades:</div>
            <div class="recettes">
                <div class="name">La marinière: 8€</div>        
                <p>Salade d'épinards tomates thon feta vinagrette huile balsamique</p>
                
                <div class="name">la genereuse: 9€</div>        
                <p>epinards, pommes, carottes rapées, feta, jambon serrano, citron huile d'olive</p>
                
                <div class="name">Rainpoke: 7,50€</div>        
                <p>quinoa, coco plats, brocolis, carottes, potimarrons & feta</p>
                
                <div class="name">La rolls: 7€</div>        
                <p>mâche, lentilles vertes et rollmops de hareng, vinaigrette, graine de chia et huile d'olive</p>
            </div> 
        </li>
        <li>
            <div class="meal">Mes desserts:</div>
            <div class="recettes">
                <div class="name">banana heaven: 5€</div>        
                <p>banana bread moelleux avec ses gros morceaux de noisettes</p>
                
                <div class="name">Croustimoelleux: 4€</div>        
                <p>Cookies moelleux aux 3 chocolats</p>

                <div class="name">souvenir d'enfance: 6€</div>        
                <p>pannacotta confiture de lait et éclat de cornflake caramélisés</p>                
            </div>
        </li>
    </ul> 
    
    <div class="container-formule">
        <div class="formule">
            <div class="text">soupe + dessert:</div> 
            <div class="prix">10€</div>
        </div>
        <div class="formule">
            <div class="text">salade + dessert:</div> 
            <div class="prix">12€</div>
        </div>
        <div class="formule">
            <div class="text">soupe + salade + dessert:</div>  
            <div class="prix">15€</div>
        </div>
        <div class="formule">
            <div class="text">menu + boisson:</div> 
            <div class="prix">+2€</div>
        </div>
    </div>
</div>


