<h1> COUCOU CHATOOOOOON </h1>

<br><br><br>

<div>Tu viens de recevoir un nouveau message sur ton site !</div><br>

<div>Le voici : <div><br><br><br>

<p style="{color: red, text-transform: uppercase}"> <%= message %></p>