@font-face {
  font-family: "Cupcake";
  src: url("./assets/fonts/Cup-Cakes.otf") format("truetype");
}

@font-face {
  font-family: "Averia Bold";
  src: url("./assets/fonts/AveriaSansLibre-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Averia Light";
  src: url("./assets/fonts/AveriaSansLibre-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Averia Light Italic";
  src: url("./assets/fonts/AveriaSansLibre-LightItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Kranky";
  src: url("./assets/fonts/Kranky-Regular.ttf") format("truetype");
}
