@font-face {
  font-family: "Melgrim";
  src: url("./assets/fonts/Megrim-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Aloja";
  src: url("./assets/fonts/Aloja-Light.otf") format("truetype"),
    url("./assets/fonts/Aloja-Light.woff") format("woff");
}

@font-face {
  font-family: "Cupcake";
  src: url("./assets/fonts/Cup-Cakes.otf") format("truetype");
}
