<div class="background"></div>

<div class="title">
  <span>{{ title }}</span>
</div>

<div class="container" #stickyMenu>
  <div class="hoverlay"></div>

  <div class="navigation" [class.sticky]="sticky">
    <div *ngIf="sticky" class="hoverlay"></div>

    <ul class="menu">
      <li class="item" (click)="scrollTo(pictures)">
        <img class="photos" src="../../../assets/picture.png" alt="" />
        <div class="text-item">photos</div>
      </li>
      <li class="item" (click)="scrollTo(menu)">
        <img class="menu-item" src="../../../assets/book.png" alt="" />
        <div class="text-item">menu</div>
      </li>
      <li class="item" (click)="scrollTo(localisation)">
        <img class="access" src="../../../assets/localization.png" alt="" />
        <div class="text-item">acces</div>
      </li>
      <li class="item" (click)="scrollTo(contact)">
        <img class="contact" src="../../../assets/contact.png" alt="" />
        <div class="text-item">contact</div>
      </li>
    </ul>
  </div>

  <div class="content">
    <div class="comp" #pictures><app-pictures></app-pictures></div>
    <div class="separator"></div>
    <div class="comp" #menu><app-formules></app-formules></div>
    <div class="separator"></div>
    <div class="comp" #localisation><app-localisation></app-localisation></div>
    <div class="separator"></div>
    <div class="comp" #contact><app-contact></app-contact></div>
    <div class="separator"></div>
    <div class="comp"><app-news></app-news></div>
  </div>
  
</div>
