<div class="news">
    <h1 class="title">A PROPOS</h1>

    <div class="presentation">

        <p class="texte">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In convallis dolor sed ligula porttitor, 
            at ullamcorper sapien accumsan. Pellentesque gravida fringilla justo eget luctus. 
            Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
        
        <p class="texte">Fusce auctor libero magna, pharetra ultrices sapien pretium placerat. Orci varius natoque penatibus et magnis dis parturient montes, 
            ascetur ridiculus mus. Quisque sodales magna eget hendrerit viverra. Vivamus sit amet velit odio. Aenean pharetra ex in faucibus blandit. Maecenas venenatis finibus eros, 
            id sodales nulla euismod vitae. Curabitur sit amet tortor vitae augue pharetra molestie. </p>
    
        <p class="texte">Nam at lobortis tellus. Phasellus eget neque bibendum, tincidunt justo et, iaculis velit. 
            Cras luctus consectetur magna sed posuere. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; 
            Ut eu condimentum mi, ut scelerisque eros.</p>
    </div>
    
    <div class=instagram>
        Deja <br>
        <span class="numer-followers">{{ instaFollowers }}</span><br>
        chatons me suivent sur instagram! <br>
    </div>
</div>