<div class="presentation">

    <div class="background"></div>

    <div class="hoverlay"></div>
    <div class="container-presentation">
        <div class="titre-restau">
          <div class="texte">Cuisine 100% faite avec</div>
          <div class="amour">
            <div class="coeur"></div>
          </div>
        </div>
        
        <div class="separator"></div>

        <div class="presentation-texte">
          <p class="texte">abenaura est un petit restaurant où l’on y cuisine des bonnes <span class="vert">soupes</span> et des <span class="vert">salades</span> avec des produits locaux et de saison, ainsi que des desserts sains et gourmands</p>
          <p class="texte bottom">Rien n’est réchauffé ni congelé<br>
            ça va de la marmite à ton assiette!</p>
        </div>
    </div>
</div>