<div class="presentation padding">
  <div class="container-presentation">
    <div class="container-texte">
      <div class="title">
        <div class="titre-restau">
          <div class="texte">Cuisine 100% faite avec</div>
          <div class="amour">
            <div class="coeur"></div>
          </div>
        </div>

        <div class="separator"></div>
      </div>

      <div class="presentation-texte">
        <div class="texte">
          abenaura est un petit restaurant rapide où l’on y cuisine des
          <span class="vert">soupes</span>, des
          <span class="vert">salades</span> et des
          <span class="vert">desserts</span>. Les recettes sont saines,
          gourmandes et généreuses avec un maximum de produits locaux et de
          saison.
        </div>
      </div>

      <div class="bottom tablet">
        Rien n’est réchauffé ni congelé<br />
        ça va de la marmite au bol !
      </div>
    </div>

    <div class="pictures">
      <div class="picture un">
        <div class="picture deux"></div>
      </div>
    </div>

    <div class="bottom mobile">
      Rien n’est réchauffé ni congelé<br />
      ça va de la marmite au bol !
    </div>
  </div>
  <div class="pictures-meal">
    <div class="picture soupe"></div>
    <div class="picture salade"></div>
    <div class="picture dessert"></div>
  </div>
</div>
