<div class="background"></div>
<div class="title">
  <div class="hoverlay"></div>
  <div class="title-background"></div>
  <div class="logo"></div>
  <span>{{ title }}</span>
  <div class="arrow-down" (click)="goDown()">
    <div class="arrow"></div>
  </div>
</div>

<div class="container-content" #stickyMenu>
  <div class="navigation" [class.sticky]="sticky">
    <ul class="menu">
      <li class="item" (click)="scrollTo(menu)">
        <div class="img menu-item"></div>
        <div class="text-item">menu</div>
      </li>
      <li class="item" (click)="scrollTo(pictures)">
        <div class="img photos"></div>
        <div class="text-item">photos</div>
      </li>
      <li class="item" (click)="scrollTo(localisation)">
        <div class="img access"></div>
        <div class="text-item">accès</div>
      </li>
      <li class="item" (click)="scrollTo(contact)">
        <div class="img contact"></div>
        <div class="text-item">contact</div>
      </li>
    </ul>
  </div>

  <div class="content">
    <div class="comp"><app-presentation></app-presentation></div>
    <div class="comp formules" #menu><app-formules></app-formules></div>
    <div class="comp pictures" #pictures><app-pictures></app-pictures></div>
    <div class="comp" #localisation><app-localisation></app-localisation></div>
    <div class="comp" #contact><app-contact></app-contact></div>
  </div>

  <footer class="footer">
    Design & création du site web
    <a href="https://www.linkedin.com/in/bberanger">@BevLaDev</a>
  </footer>
</div>
