@import "../../../breakpoint.less";

.container-access {
  display: flex;
  flex-direction: column;

  agm-map {
    height: 300px;
    width: 100%;

    @media (min-width: @tablet-min) {
      height: 250px;
    }

    @media (min-width: @desktop-min) {
      height: 300px;
    }

    @media (min-width: @desktop-max) {
      height: 400px;
    }
  }

  .separator {
    background: url("../../../assets/divider-localisation.png") no-repeat center
      center;
    background-size: contain;
    margin-top: 10px;
    margin-bottom: 50px;
    width: 100%;
    height: 15px;

    @media (min-width: @tablet-min) {
      height: 16px;
      margin-bottom: 60px;
    }

    @media (min-width: @desktop-min) {
      height: 20px;
      margin-bottom: 70px;
    }

    @media (min-width: @desktop-max) {
      height: 23px;
    }

    @media (min-width: @desktop-large) {
      height: 26px;
      margin-bottom: 90px;
    }
  }

  .container-localisation {
    display: flex;
    flex-direction: column-reverse;

    @media (min-width: @tablet-min) {
      flex-direction: row;
    }

    .bloc {
      width: 100%;
      display: flex;
      justify-content: center;

      @media (min-width: @tablet-min) {
        width: 33.33%;
      }

      &.center {
        display: flex;
        justify-content: center;
        flex-direction: column;
        background-color: #ff8860;
        align-items: center;
        text-align: center;
        font-family: "Averia Light";
        font-weight: 100;
        background-image: url(../../../assets/brick-wall.png);
        position: relative;
        color: white;
        height: 390px;
        padding-top: 40px;

        @media (min-width: 500px) {
          flex-direction: row;
          height: 350px;
          padding: 100px 20px 0 20px;
        }

        @media (min-width: @tablet-min) {
          height: auto;
          flex-direction: column;
          padding: 0;
          padding-top: 40px;
        }

        .background {
          background-image: url(../../../assets/lights-bg.png);
          background-size: contain;
          background-repeat: no-repeat;
          background-position: top;
          height: 100%;
          width: 100%;
          position: absolute;
          top: 0;
          left: 0;
        }

        .container-texte {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          background: url("../../../assets/empty-blackboard.jpg") no-repeat
            center center;
          background-size: contain;
          font-size: 19px;
          padding-top: 10px;
          line-height: 20px;
          background-size: 100% 100%;
          width: 230px;
          height: 100px;
          margin-bottom: 35px;

          &.deux {
            width: 200px;
            margin-bottom: 0;
          }

          @media (min-width: 500px) {
            margin-bottom: 0;
            margin-right: 30px;

            &.deux {
              margin-right: 0;
            }
          }

          @media (min-width: @tablet-min) {
            width: 170px;
            height: 80px;
            line-height: 10px;
            font-size: 14px;
            margin-bottom: 25px;
            margin-right: 0;

            &.deux {
              width: 150px;
              height: 90px;
            }
          }

          @media (min-width: @desktop-min) {
            font-size: 17px;
            width: 210px;
            height: 90px;
            line-height: 15px;
            margin-bottom: 35px;

            &.deux {
              width: 170px;
              height: 100px;
            }
          }

          @media (min-width: @desktop-max) {
            font-size: 22px;
            margin-bottom: 40px;
            line-height: 25px;
            height: 110px;
            width: 260px;

            &.deux {
              width: 220px;
              height: 120px;
              margin-bottom: 0;
            }
          }

          @media (min-width: @desktop-large) {
            line-height: 30px;
            font-size: 24px;
            height: 140px;
            width: 320px;

            &.deux {
              margin-bottom: 0;
              width: 260px;
              height: 150px;
            }
          }

          .strong {
            font-size: 22px;

            @media (min-width: @tablet-min) {
              font-size: 16px;
            }

            @media (min-width: @desktop-min) {
              font-size: 19px;
            }

            @media (min-width: @desktop-max) {
              font-size: 25px;
            }

            @media (min-width: @desktop-large) {
              font-size: 27px;
            }
          }
        }
      }

      .picture {
        width: 100%;
        height: 320px;

        @media (min-width: @tablet-min) {
          height: 310px;
        }

        @media (min-width: @desktop-min) {
          height: 380px;
        }

        @media (min-width: @desktop-max) {
          height: 460px;
        }

        @media (min-width: @desktop-large) {
          height: 550px;
        }

        &.exterieur {
          background: url("../../../assets/exterieur.jpg") no-repeat center;
          background-size: cover;
        }

        &.interieur {
          background: url("../../../assets/interieur.jpg") no-repeat center;
          background-size: cover;
        }
      }
    }
  }
}
